In [1]:
import numpy as np
import pandas as pd
import keras
import tensorflow as tf
import os

from tensorflow.keras import Sequential

from tensorflow.keras.layers import *

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

### Read the data

In [2]:
train_data_df = pd.read_csv("sales_data_training.csv")
test_data_df = pd.read_csv("sales_data_test.csv")

In [3]:
train_data_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,0,1,0,1,0,0,132717,59.99
1,4.5,0,0,0,0,1,1,0,83407,49.99
2,3.0,0,0,0,0,1,1,0,62423,49.99
3,4.5,1,0,0,0,0,0,1,69889,39.99
4,4.0,1,0,1,0,1,0,1,161382,59.99

In [4]:
test_data_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,1,1,0,1,0,1,247537,59.99
1,2.5,0,0,0,1,1,0,0,73960,59.99
2,3.5,0,0,0,0,1,1,0,82671,59.99
3,4.0,1,1,0,0,1,0,0,137456,39.99
4,2.0,1,0,1,0,1,0,0,89639,59.99

### Scaling the data

We want to scale all the numbers in each column to be between zero and one. If the numbers in one column are large, but the numbers in another column are small, the training process won't work very well. We can do this using the Min Max Scaler object

In [5]:
Scaler = MinMaxScaler(feature_range = (0, 1))

In [6]:
scaled_training = Scaler.fit_transform(train_data_df)
scaled_test = Scaler.transform(test_data_df)

In [7]:
mul_factor = Scaler.scale_[8]
add_factor = Scaler.min_[8]

print("Note:\n")
print("Total_earnings values were scaled by first multiplying: {:.10f}".format(mul_factor))
print("After that adding: {:.6f}".format(add_factor))

Note:

Total_earnings values were scaled by first multiplying: 0.0000036968
After that adding: -0.115913

In [8]:
scaled_train_df = pd.DataFrame(scaled_training, columns = train_data_df.columns.values)
scaled_test_df = pd.DataFrame(scaled_test, columns = test_data_df.columns.values)

### Save the scaled training and scaled testing data in different csv

In [9]:
scaled_train_df.to_csv("scaled_training_data.csv")
scaled_test_df.to_csv("scaled_testing_data.csv")

In [10]:
scaled_train_data = pd.read_csv("scaled_training_data.csv").drop("Unnamed: 0", axis = 1)
scaled_test_data = pd.read_csv("scaled_testing_data.csv").drop("Unnamed: 0", axis = 1)

In [11]:
scaled_train_data.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.374714,1.0
1,0.833333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.192425,0.5
2,0.333333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.114852,0.5
3,0.833333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.142452,0.0
4,0.666667,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.480682,1.0

In [12]:
scaled_test_data.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.799179,1.0
1,0.166667,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.157502,1.0
2,0.500000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.189704,1.0
3,0.666667,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.392233,0.0
4,0.000000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.215464,1.0

### Create a model

In [13]:
X_train = scaled_train_data.drop("total_earnings", axis = 1).values
Y_train = scaled_train_data[["total_earnings"]].values

In [14]:
model = tf.keras.Sequential()

In [15]:
model.add(Dense(50, input_dim = 9, activation = "relu", name = "layer_1"))
model.add(Dense(100, activation = "relu", name = "layer_2"))
model.add(Dense(200, activation = "relu", name = "layer_3"))
model.add(Dense(300, activation = "relu", name = "layer_4"))
model.add(Dense(200, activation = "relu", name = "layer_5"))
model.add(Dense(100, activation = "relu", name = "layer_6"))
model.add(Dense(50, activation = "relu", name = "layer_7"))
model.add(Dense(1, activation = "linear", name = "output_layer"))

model.compile(loss = "mean_squared_error", optimizer = "adam")

### Create a tensorboard logger

In [16]:
logger = keras.callbacks.TensorBoard(
    log_dir = "logs",
    write_graph = True,
    histogram_freq = 5
)

### Let's train the neural network

In [17]:
model.fit(X_train, 
          Y_train, 
          epochs = 100, 
          shuffle = True, 
          verbose = 2,
          callbacks = [logger]
         )

Epoch 1/100
WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/tensorflow/python/ops/summary_ops_v2.py:1277: stop (from tensorflow.python.eager.profiler) is deprecated and will be removed after 2020-07-01.
Instructions for updating:
use `tf.profiler.experimental.stop` instead.
WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0026s vs `on_train_batch_end` time: 0.0191s). Check your callbacks.
32/32 - 0s - loss: 0.0166
Epoch 2/100
32/32 - 0s - loss: 0.0011
Epoch 3/100
32/32 - 0s - loss: 0.0012
Epoch 4/100
32/32 - 0s - loss: 4.5608e-04
Epoch 5/100
32/32 - 0s - loss: 2.0519e-04
Epoch 6/100
32/32 - 0s - loss: 1.4791e-04
Epoch 7/100
32/32 - 0s - loss: 1.8709e-04
Epoch 8/100
32/32 - 0s - loss: 1.0508e-04
Epoch 9/100
32/32 - 0s - loss: 8.0618e-05
Epoch 10/100
32/32 - 0s - loss: 1.1614e-04
Epoch 11/100
32/32 - 0s - loss: 6.4168e-05
Epoch 12/100
32/32 - 0s - loss: 5.4713e-05
Epoch 13/100
32/32 - 0s - loss: 5.8982e-05
Epoch 14/100
32/32 - 0s - loss: 4.1868e-05
Epoch 15/100
32/32 - 0s - loss: 1.3599e-04
Epoch 16/100
32/32 - 0s - loss: 2.7302e-04
Epoch 17/100
32/32 - 0s - loss: 9.4190e-05
Epoch 18/100
32/32 - 0s - loss: 9.9650e-05
Epoch 19/100
32/32 - 0s - loss: 8.3016e-05
Epoch 20/100
32/32 - 0s - loss: 4.4786e-05
Epoch 21/100
32/32 - 0s - loss: 5.7752e-05
Epoch 22/100
32/32 - 0s - loss: 9.7764e-05
Epoch 23/100
32/32 - 0s - loss: 5.3050e-05
Epoch 24/100
32/32 - 0s - loss: 6.2811e-05
Epoch 25/100
32/32 - 0s - loss: 5.7826e-05
Epoch 26/100
32/32 - 0s - loss: 6.1083e-05
Epoch 27/100
32/32 - 0s - loss: 1.3293e-04
Epoch 28/100
32/32 - 0s - loss: 1.8276e-04
Epoch 29/100
32/32 - 0s - loss: 7.5728e-05
Epoch 30/100
32/32 - 0s - loss: 6.0616e-05
Epoch 31/100
32/32 - 0s - loss: 7.4073e-05
Epoch 32/100
32/32 - 0s - loss: 1.2782e-04
Epoch 33/100
32/32 - 0s - loss: 1.8687e-04
Epoch 34/100
32/32 - 0s - loss: 6.8587e-05
Epoch 35/100
32/32 - 0s - loss: 1.3797e-04
Epoch 36/100
32/32 - 0s - loss: 7.5706e-05
Epoch 37/100
32/32 - 0s - loss: 5.8379e-05
Epoch 38/100
32/32 - 0s - loss: 6.7761e-05
Epoch 39/100
32/32 - 0s - loss: 6.5598e-05
Epoch 40/100
32/32 - 0s - loss: 6.8623e-05
Epoch 41/100
32/32 - 0s - loss: 3.3818e-05
Epoch 42/100
32/32 - 0s - loss: 3.3340e-05
Epoch 43/100
32/32 - 0s - loss: 3.5620e-05
Epoch 44/100
32/32 - 0s - loss: 3.5707e-05
Epoch 45/100
32/32 - 0s - loss: 3.0442e-05
Epoch 46/100
32/32 - 0s - loss: 1.0936e-04
Epoch 47/100
32/32 - 0s - loss: 2.1940e-04
Epoch 48/100
32/32 - 0s - loss: 6.8010e-05
Epoch 49/100
32/32 - 0s - loss: 3.9444e-05
Epoch 50/100
32/32 - 0s - loss: 5.8619e-05
Epoch 51/100
32/32 - 0s - loss: 3.2076e-05
Epoch 52/100
32/32 - 0s - loss: 8.2417e-05
Epoch 53/100
32/32 - 0s - loss: 4.1271e-05
Epoch 54/100
32/32 - 0s - loss: 8.8185e-05
Epoch 55/100
32/32 - 0s - loss: 3.2827e-04
Epoch 56/100
32/32 - 0s - loss: 3.0324e-04
Epoch 57/100
32/32 - 0s - loss: 1.2333e-04
Epoch 58/100
32/32 - 0s - loss: 7.3021e-05
Epoch 59/100
32/32 - 0s - loss: 4.6364e-05
Epoch 60/100
32/32 - 0s - loss: 6.1329e-05
Epoch 61/100
32/32 - 0s - loss: 3.0545e-05
Epoch 62/100
32/32 - 0s - loss: 1.9294e-05
Epoch 63/100
32/32 - 0s - loss: 3.3866e-05
Epoch 64/100
32/32 - 0s - loss: 3.7831e-05
Epoch 65/100
32/32 - 0s - loss: 9.2119e-05
Epoch 66/100
32/32 - 0s - loss: 6.6035e-05
Epoch 67/100
32/32 - 0s - loss: 1.0162e-04
Epoch 68/100
32/32 - 0s - loss: 3.6267e-05
Epoch 69/100
32/32 - 0s - loss: 3.8494e-05
Epoch 70/100
32/32 - 0s - loss: 1.2825e-04
Epoch 71/100
32/32 - 0s - loss: 6.1358e-04
Epoch 72/100
32/32 - 0s - loss: 2.0695e-04
Epoch 73/100
32/32 - 0s - loss: 4.4023e-05
Epoch 74/100
32/32 - 0s - loss: 4.5339e-05
Epoch 75/100
32/32 - 0s - loss: 1.9154e-05
Epoch 76/100
32/32 - 0s - loss: 2.1356e-05
Epoch 77/100
32/32 - 0s - loss: 2.2478e-05
Epoch 78/100
32/32 - 0s - loss: 5.3944e-05
Epoch 79/100
32/32 - 0s - loss: 3.3004e-05
Epoch 80/100
32/32 - 0s - loss: 2.1991e-05
Epoch 81/100
32/32 - 0s - loss: 4.4652e-05
Epoch 82/100
32/32 - 0s - loss: 3.7938e-05
Epoch 83/100
32/32 - 0s - loss: 7.0743e-05
Epoch 84/100
32/32 - 0s - loss: 5.9701e-05
Epoch 85/100
32/32 - 0s - loss: 6.6353e-05
Epoch 86/100
32/32 - 0s - loss: 8.0399e-05
Epoch 87/100
32/32 - 0s - loss: 4.5341e-05
Epoch 88/100
32/32 - 0s - loss: 7.5986e-05
Epoch 89/100
32/32 - 0s - loss: 3.0561e-05
Epoch 90/100
32/32 - 0s - loss: 3.2523e-05
Epoch 91/100
32/32 - 0s - loss: 2.4010e-05
Epoch 92/100
32/32 - 0s - loss: 2.7258e-05
Epoch 93/100
32/32 - 0s - loss: 1.9208e-05
Epoch 94/100
32/32 - 0s - loss: 1.9505e-05
Epoch 95/100
32/32 - 0s - loss: 3.6386e-05
Epoch 96/100
32/32 - 0s - loss: 3.5481e-05
Epoch 97/100
32/32 - 0s - loss: 4.3646e-05
Epoch 98/100
32/32 - 0s - loss: 4.5546e-05
Epoch 99/100
32/32 - 0s - loss: 4.1312e-05
Epoch 100/100
32/32 - 0s - loss: 2.1351e-05

In [18]:
X_test = scaled_test_data.drop("total_earnings", axis = 1).values
Y_test = scaled_test_data[["total_earnings"]].values

In [19]:
test_error_rate = model.evaluate(X_test, Y_test, verbose = 0)

In [20]:
print("The mean-square-error for the test data is {} %".format(np.round(test_error_rate*100, 5)))

The mean-square-error for the test data is 0.00461 %

### Let's predict the data for newly proposed values

In [21]:
predict_X = pd.read_csv("proposed_new_product.csv").values

In [22]:
prediction = model.predict(predict_X)

In [23]:
prediction = prediction[0][0]

### We need to re-scale the prediction, since it will be in the similar ( 0, 1 ) range, for our scaled dataset

In [24]:
prediction = prediction + abs(add_factor)
prediction = prediction / mul_factor

In [25]:
print("Earning prediction for proposed product: ${}".format(prediction))

Earning prediction for proposed product: $265344.2622062564

_____